trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  imageName: 'fashionwebprodacr.azurecr.io/laravel-ecommerce-web'
  phpVersion: '8.3.7'

steps:
- task: Docker@2
  displayName: 'Build and push image to ACR'
  inputs:
    containerRegistry: 'azure-devops-acr' 
    repository: $(imageName)
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile' 
    tags: |
      latest
      $(Build.BuildId)

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(Pipeline.Workspace)' 
    artifact: 'drop'  
    publishLocation: 'pipeline'
