/* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
@import url(./font/Helvetica-Bold.ttf); */

/* :root {
    --body-font: 'Helvetica Neue', sans-serif;
} */
body {
    margin: 0px 0px 0px 0px !important;
    padding-top: 20px;
}

@font-face {
    font-family: "Akzidenz-Grotesk bold";
    src: url(../font/akzidenz/Akzidenz-Bold-Condensed.ttf);
}

@font-face {
    font-family: "Helvetica";
    src: url(../font/Helvetica-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.primary-text {
    font-family: "Akzidenz-Grotesk bold";
    font-weight: 700;
    font-size: 72px;
    line-height: 38px;
    letter-spacing: -0.36px;
    text-decoration: none;
}

.normal-text {
    font-family: "Akzidenz-Grotesk bold";
    font-weight: 700;
    font-size: 36px;
}
.normal-text a{
    color: #000;
}

@media (max-width: 767px) {
    .carousel.multiple-image .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel.multiple-image .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel.multiple-image .carousel-inner .carousel-item.active,
.carousel.multiple-image .carousel-inner .carousel-item-next,
.carousel.multiple-image .carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel.multiple-image .carousel-inner .carousel-item-end.active,
    .carousel.multiple-image .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel.multiple-image .carousel-inner .carousel-item-start.active,
    .carousel.multiple-image .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel.multiple-image .carousel-inner .carousel-item-end,
.carousel.multiple-image .carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.carousel {
    /* --slide-height: calc(100vh - 56px); */
}
/* 
.carousel .product-slide {
    --slide-height: 60vh;
} */

/* .carousel-inner .banner {
    height: var(--slide-height);
    width: 100%;
} */


.carousel-item-img {
    /* height: var(--slide-height); */
    height: 98vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item-img .hero-banner {
    height: 98vh;
    width: 100%;
    background-position: 0% 30%;
    background-repeat: no-repeat;
    background-size: cover;
}

.row .banner .col p {
    font-size: 200px;
    font-weight: 400;
}

.collection-description {
    text-align: center;
    line-height: 24px;
}

.banner-frame {
    height: 413.13px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.banner-frame:hover .sock-banner,
.banner-frame:focus .sock-banner {
    transform: scale(1.2);
}

.sock-banner {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    /* transition: all 0.75s ease-in-out; */
}

.container-fluid.footer {
    width: 100%;
    margin-bottom: 0px;
    height: 500px; 
    background-color: #1a1a1a;
    align-items: center;

}

.join-us-heading {
    color: white;
    font-weight: 700;
    letter-spacing: -0.02em;
    font-style: normal;
    /* font-size: 120px; */
    line-height: 110px;
    font-family: "Akzidenz-Grotesk bold";
}

.p-4 {
    /* background-image: url(../imgs/Men_product/10099.jpg); */
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.category-row {
    height: 448px;
}

@media (min-width: 1024px) {
    .grid-header.grid-header-filter {
        top: 72px;
        box-shadow: 0px 16px 12px -15px #e7e7ef;
        margin-left: 0;
        margin-right: 0;
    }
}

.grid-header.grid-header-filter {
    display: flex;
    justify-content: space-between;
    background-color: #f6f6fb;
    position: sticky;
    top: 56px;
    z-index: 251;
}

@media (min-width: 1024px) {
    .refinement-bar-filters {
        margin-bottom: 0;
    }
}

.refinement-bar-filters {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
}

.refinement-bar-filters li {
    height: 100%;
    align-items: center;
    display: flex;
    margin-right: 40px;
}

.refinement-bar-filters ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}

.filter-button button {
    height: 100%;
    background-color: black;
    color: white;
    height: 60px;
    /* font-family: 'Akzidenz-Grotesk bold'; */
    width: 100px;
}

.filter-row {
    font-family: "Akzidenz-Grotesk bold";
    align-items: center;
    background-color: #f6f6fb;
}

.product-img {
    background-position: 75% 50%;
    background-repeat: no-repeat;
    min-height: 20vh;
    width: 100%;
    height: 50vh;
    mix-blend-mode: multiply;
}

.attribute-color-swatches {
    text-decoration: none;
    list-style-type: none;
}

.color-attribute {
    align-items: flex-start;
    appearance: button;
    /* cursor: pointer; */
}

.color-attribute label,
.color-attribute label:hover {
    border: solid 1px #000;
}

.attribute-color-swatches li button {
    border-radius: 50%;

}

.color-attribute .btn-check:checked+label {
    padding: 15px 40px;
    outline: 2px solid black;
    outline-offset: 2px;
}

.size-attribute .btn-check:checked+label {
    background-color: #1a1a1a;
}

.size-attribute .btn-check:disabled+label {
    opacity: 0.3;
    cursor: not-allowed !important;
    pointer-events: all !important;
}

.cart a,
.user a {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 1000;
}

/* 
.carousel-controller-next,
.carousel-controller-prev {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

} */


.control-carousel {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 35px;
    height: 35px;
    opacity: .75;
    border-radius: 50% !important;

}

.control-carousel[data-bs-slide="prev"] {
    left: 15px;
}

.control-carousel[data-bs-slide="next"] {
    right: 15px;
}


.control-center {
    top: 50%;
    transform: translateY(-50%);
}

.control-bottom {
    bottom: 10%;
}

.form-outline {
    width: 150px !important;
    border: 1px solid #1a1a1a;
    border-radius: 8px;
}

.form-outline input {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.form-outline input:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.form-outline input.is-invalid {
    color: #dc3545 !important;
}

.form-outline:has(.is-invalid) {
    border-color: #dc3545 !important;
    outline: none !important;
    box-shadow: none !important;
}

.form-outline button,
.form-outline button:hover {

    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    color: #1a1a1a !important;

}

.contact-section{
    display: flex;
    flex-direction: column;
}
.footer-options{
    list-style-type: none;
}
.footer-options li a{
    text-decoration: none;
    cursor: pointer;

}
.row .product-detail{


}
.name-col a{
    text-decoration: none;
}
.test{
    height: 300px;
    width: 300px;
}

.card-img .img-fluid .hover{
    display: none;
}
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 12px;
    /* background: #ff0000; */
    background: maroon;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}
.spinner-wrapper{
    background-color: å£#000;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    Z-index: 9999;
    transition: all 0.2s;
}
/* Cart view */
@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.bg-grey {
    background-color: #eae8e8;
}

@media (min-width: 992px) {
    .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}
.text-muted.delete-product{
    cursor: pointer;
}
.cart.me-3{
    cursor: pointer; 
}


.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}

.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}

.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}

.account-settings .about p {
    font-size: 0.825rem;
}

.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}
.custom-offcanvas {
    display: flex;
    flex-direction: column;
}

.custom-offcanvas .offcanvas-body {
    overflow-y: auto;
    flex-grow: 1;
}

.custom-offcanvas .custom-footer {
    flex-shrink: 0;
}
/* #alert-success{
    position: fixed;
    top: 75px;
    right: 20px;
    z-index: 9999;
} */
#alert-danger,
#alert-success {
    position: fixed;
    top: 70px;
    right: 20px;
    width: 300px;
    z-index: 9999;
    display: flex;
    justify-content: center;
}
.far{
    cursor: pointer;
}

.card .payment-method-item,
.card.addresses-item{
    cursor: pointer;
    background-color: white;
}
.card.addresses-item:hover{
    background-color: #9fa8b9;
}
.card.payment-method-item.checked,
.card.addresses-item.checked{
    background-color: rgba(159, 168, 185, 0.5);
}
.track-line {
    height: 2px !important;
    background-color: #488978;
    opacity: 1;
}

.dot {
    height: 10px;
    width: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0px;
    background-color: #488978;
    border-radius: 50%;
    display: inline-block
}

.big-dot {
    height: 25px;
    width: 25px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: #488978;
    border-radius: 50%;
    display: inline-block;
}

.big-dot i {
    font-size: 12px;
}

.card-stepper {
    z-index: 0
}
tr, th, td{
    background-color: white !important;
}

.dropdown-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.hover-img {
    display: none;
}

.card-img:hover .hover-img {
    display: block;
}

.card-img:hover .img-fluid:not(.hover-img) {
    display: none;
}
.custom-width-input {
    width: 30px !important;
    
}

.custom-width-button {
    width: 20px !important;
    
}


/* Offcanvas responsive */
@media (max-width: 3000px) {
    .custom-offcanvas {
        width: 600px !important;
    }
}

@media (max-width: 996px) {
    .custom-offcanvas {
        width: 100% !important;
    }
}
.nav-item.order-status button {
    color: black !important;
}
.nav-link.status.active{
    background-color: #000 !important;
    color: white !important;
}
@media (max-width: 767.98px) {
    .hide-on-small {
        display: none !important;
    }
}
.img-responsive{
    mix-blend-mode: multiply;
}
#slider-div {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

#slider-div>div {
    margin: 8px;
}

.slider-label {
    position: absolute;
    background-color: #eee;
    padding: 4px;
    font-size: 0.75rem;
}
.range-slider {
    position: relative;
}

.range-value {
    position: absolute;
    left: 100%;
    transform: translateX(-50%);
}