/* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
@import url(./font/Helvetica-Bold.ttf); */

/* :root {
    --body-font: 'Helvetica Neue', sans-serif;
} */
body {
    margin: 0px 0px 0px 0px;
    width: 100vw;
}

@font-face {
    font-family: "Akzidenz-Grotesk bold";
    /* src: url(./font/akzidenz/Akzidenz-grotesk-bold.ttf); */
    src: url(../font/akzidenz/Akzidenz-Bold-Condensed.ttf);
}

@font-face {
    font-family: "Helvetica";
    src: url(../font/Helvetica-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

.primary-text {
    font-family: "Akzidenz-Grotesk bold";
    font-weight: 700;
    font-size: 72px;
    line-height: 38px;
    letter-spacing: -0.36px;
}

.normal-text {
    font-family: "Akzidenz-Grotesk bold";
    font-weight: 700;
    font-size: 36px;
}

@media (max-width: 767px) {
    .carousel.multiple-image .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel.multiple-image .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel.multiple-image .carousel-inner .carousel-item.active,
.carousel.multiple-image .carousel-inner .carousel-item-next,
.carousel.multiple-image .carousel-inner .carousel-item-prev {
    display: flex;
    /* filter: invert(100%); */
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel.multiple-image .carousel-inner .carousel-item-end.active,
    .carousel.multiple-image .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel.multiple-image .carousel-inner .carousel-item-start.active,
    .carousel.multiple-image .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel.multiple-image .carousel-inner .carousel-item-end,
.carousel.multiple-image .carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.carousel {
    --slide-height: calc(100vh - 56px);
}

.carousel .product-slide {
    --slide-height: 60vh;
}

.carousel-inner .banner {
    height: var(--slide-height);
    width: 100%;
}


.carousel-item-img {
    height: var(--slide-height);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item-img .hero-banner {
    height: var(--slide-height);
    width: 100%;
    background-position: 0% 30%;
    background-repeat: no-repeat;
    background-size: cover;
}

.row .banner .col p {
    font-size: 200px;
    font-weight: 400;
}

.collection-description {
    text-align: center;
    line-height: 24px;
}

.banner-frame {
    height: 413.13px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.banner-frame:hover .sock-banner,
.banner-frame:focus .sock-banner {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.sock-banner {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    /* transition: all 0.75s ease-in-out; */
}

.container-fluid .footer {
    width: 100%;
    margin-bottom: 0px;
    height: 600px;
    background-color: #1a1a1a;
    align-items: center;
    padding: 0px 0px 0px 0px;
}

.row .footer {
    /* height: 500px !important; */
}

.join-us-heading {
    color: white;
    font-weight: 700;
    letter-spacing: -0.02em;
    font-style: normal;
    /* font-size: 120px; */
    line-height: 110px;
    font-family: "Akzidenz-Grotesk bold";
}

.p-4 {
    background-image: url(../imgs/Men_product/10099.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.category-row {
    height: 448px;
}

@media (min-width: 1024px) {
    .grid-header.grid-header-filter {
        top: 72px;
        box-shadow: 0px 16px 12px -15px #e7e7ef;
        margin-left: 0;
        margin-right: 0;
    }
}

.grid-header.grid-header-filter {
    display: flex;
    justify-content: space-between;
    background-color: #f6f6fb;
    position: sticky;
    top: 56px;
    z-index: 251;
}

@media (min-width: 1024px) {
    .refinement-bar-filters {
        margin-bottom: 0;
    }
}

.refinement-bar-filters {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
}

.refinement-bar-filters li {
    height: 100%;
    align-items: center;
    display: flex;
    margin-right: 40px;
}

.refinement-bar-filters ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}

.filter-button button {
    height: 100%;
    background-color: black;
    color: white;
    height: 60px;
    /* font-family: 'Akzidenz-Grotesk bold'; */
    width: 100px;
}

.filter-row {
    font-family: "Akzidenz-Grotesk bold";
    align-items: center;
    background-color: #f6f6fb;
    /* box-shadow: 0px 16px 12px -15px #E7E7EF; */
    /* font-size: 36px; */
}

.product-img {
    background-position: 75% 50%;
    background-repeat: no-repeat;
    min-height: 20vh;
    width: 100%;
    height: 50vh;
}

.attribute-color-swatches {
    text-decoration: none;
    list-style-type: none;
}

.color-attribute {
    align-items: flex-start;
    appearance: button;
    cursor: pointer;
}

.attribute-color-swatches li button {
    border-radius: 50%;

}

.color-attribute .btn-check:checked+label {
    padding: 15px 40px;
    outline: 2px solid black;
    outline-offset: 2px;
}

.size-attribute .btn-check:checked+label {
    background-color: #1a1a1a;
}

.size-attribute .btn-check:disabled+label {
    /* background-color: #1a1a1a; */
    opacity: 0.3;
    cursor: not-allowed !important;
    pointer-events: all !important;
}

.cart a,
.user a {
    text-decoration: none;
    /* font-size: 15px; */
    color: #1a1a1a;
    font-weight: 1000;
}

.far::before {
    /* font-weight: 600; */
}

.carousel-controller-next,
.carousel-controller-prev {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}


.control-carousel {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 35px;
    height: 35px;
    opacity: .75;
    border-radius: 50% !important;

}

.control-carousel[data-bs-slide="prev"] {
    left: 15px;
}

.control-carousel[data-bs-slide="next"] {
    right: 15px;
}


.control-center {
    top: 50%;
    transform: translateY(-50%);
}

.control-bottom {
    bottom: 10%;
}

.form-outline {
    width: 150px !important;
    border: 1px solid #1a1a1a;
    border-radius: 8px;
}

.form-outline input {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.form-outline input:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.form-outline input.is-invalid {
    color: #dc3545 !important;
}

.form-outline:has(.is-invalid) {
    border-color: #dc3545 !important;
    outline: none !important;
    box-shadow: none !important;
}

.form-outline button,
.form-outline button:hover {
    /* border: 1px solid #1a1a1a; */
    /* box-shadow: none; */
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    color: #1a1a1a !important;

}

.contact-section{
    display: flex;
    flex-direction: column;
}
.footer-options{
    list-style-type: none;
}
.footer-options li a{
    text-decoration: none;
    cursor: pointer;

}